@{
	ViewData["Title"] = "Resume";
}

<!-- Resume Section -->
<section id="resume" class="resume section glass">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Resume</h2>
		@* <p>[ RESUME CURRENTLY UNDERGOING CONTINUOUS UPDATES ]</p>
		<br> *@
		<p>A PDF copy of my most recent resume can also be found <a href="/files/Asche Jurotich Resume.pdf" target="_blank" rel="noopener noreferrer">here</a>.</p>
	</div><!-- End Section Title -->

	<div class="container">

		<div class="row">

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<h3 class="resume-title">Professional Experience</h3>
				<div class="resume-item">
					<h4>SandboxVR</h4>
					<h5>2023 - 2024</h5>
					<p><em>Team Lead</em></p>
					<ul>
						<li>All responsibilities from guest experience guide, in addition to:</li>
						<li>Work with other shift and store managers to ensure daily checklists, goals, and labor are achieved and communicated to the team effectively</li>
						<li>Train new hires as Guest Experience Guides and Team Leads</li>
						<li>Calmly and kindly deescalating high stress situations with guests</li>
						<li>Maintaining the top reviewed associate in the store since the second month</li>
					</ul>

					<p><em>Guest Experience Guide</em></p>
					<ul>
						<li>Greeting guests warmly and creating a friendly, easygoing atmosphere for people of all ages to enjoy</li>
						<li>Handling and equipping guests with expensive and complex virtual reality equipment in a safe and timely manner</li>
						<li>Troubleshooting and testing new technologies, and efficiently informing guests and other staff of the potential issues and solutions</li>
					</ul>
				</div><!-- Edn Resume Item -->

				<div class="resume-item">
					<h4>The City Museum</h4>
					<h5>2022 - 2023</h5>
					<p><em>Floor Staff</em></p>
					<ul>
						<li>Communicated succinctly with guests from all age ranges and backgrounds</li>
						<li>Worked around the museum cleaning and checking in on guests, supervised slides, operated the Ferris wheel, and worked at the front desk</li>
						<li>Helped organize, set up, and tear down events hosted in our spaces</li>
						<li>Climbed into small spaces and worked at extreme heights</li>
						<li>Performed daily routine inspections on all rides and attractions and reported any needed maintenance</li>
					</ul>
				</div><!-- Edn Resume Item -->

				<div class="resume-item">
					<h4>Six Flags</h4>
					<h5>2021</h5>
					<p><em>Warehouse Worker</em></p>
					<ul>
						<li>Organized and monitored inventory of wide selection of items with varying size and weight</li>
						<li>Prepared, delivered, and unloaded pallets and individual items throughout the park in timely manner</li>
						<li>Operated machinery such as UTVs, forklifts, and automatic pallet jacks</li>
						<li>Worked in extreme temperature environments</li>
					</ul>
				</div><!-- Edn Resume Item -->

			</div>

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

				<h3 class="resume-title">Education</h3>
				<div class="resume-item">
					<h4>Centriq</h4>
					<h5>2024 - PRESENT</h5>
					<p><em>Full Stack Web Development</em></p>
					<p>Currently studying full stack web devolpment. Course scheduled to complete by November.</p>
				</div><!-- Edn Resume Item -->

				<div class="resume-item">
					<h4>DigiPen Institute of Technology</h4>
					<h5>2021 - 2022</h5>
					<p><em>Computer Science &amp; Game Design</em></p>
					<p>Studied general computer science, with a heavy emphasis on object-oriented programming languages as C and C++. Worked in small development teams to create functional video games within given deadlines.</p>
				</div><!-- Edn Resume Item -->

				<div class="resume-item">
					<h4>Webster Groves High School</h4>
					<h5>2017 - 2020</h5>
					<p><em>High School Diploma</em></p>
					<p>Took many electives with a focus on STEM, including game design, programming, and graphic design. Also participated in the high school robotics team for all four years, being team captain for two.</p>
				</div><!-- Edn Resume Item -->

			</div>


		</div>

	</div>

</section>