.navmenu a:hover{
	background-color: color-mix(in srgb, #ffffff, transparent 90%);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	/* width: 104%; */
}

section.glass{
	background-color: color-mix(in srgb, #000, transparent 90%);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.2);
}